Options +FollowSymLinks -MultiViews

######## URL rewriting ########

<IfModule mod_rewrite.c>

    RewriteEngine  on

    RewriteCond %{REQUEST_URI} ^/images/*
    RewriteRule ^.*$ /image.php [L]

    RewriteCond %{REQUEST_FILENAME} \.
    RewriteRule ^.*$ - [L]
    RewriteRule ^.*$ /index.php [L]

</IfModule>

<IfModule !mod_rewrite.c>

    order deny,allow
    deny from all

</IfModule>

######## Securité ########

<files .htaccess>
    order allow,deny
    deny from all
</files>

<files sftp-config.json>
    order allow,deny
    deny from all
</files>

ServerSignature Off
Options -Indexes

######## Autres ########

php_flag  log_errors        on
php_flag  display_errors    off
